Gopi/config.py
Gopi/*.session
Gopi/*.session-journal
Gopi/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Gopi/modules/helper_funcs/temp.txt
Gopi/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Gopi.session-journal
updates.txt
*.exe
